@media(min-width:1024px){
    footer{
        background-color: #393e46;
        height: max(50px,10vh);
        width: 100vw;
        position: absolute;
        margin-left:-10vw;
        bottom:0px;
    }
    #footer_text{
        display: inline-flex;
        height: 100%;
        align-items: center;
        font-size: max(12px,2vh);
        font-weight: 700;
        float: right;
        color: #ffffff;
        margin: 0 10vw;
    }
}